.Container{
    background-color: transparent;
    height: 80px;
    width: 100%;
}

.body{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px;
}

.logo{
    cursor: pointer;
    padding: 1rem;
}
.list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    cursor: pointer;
}

.btn{
    cursor: pointer;
    padding: .5rem 2rem;
    border: none;
    background-color: #002B5B;
    align-items: center;
    display: flex;
    font-family: 'Poppins', sans-serif;
    color: white;
    border-radius: 5rem;
}

.userprofile{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.picha{
    border-radius: 50%;
    border: #002B5B solid 2px;
    background-color: #002B5B;
}